* {
    margin: 0;
    /*ngoài*/
    padding: 0;
    /*trong*/
    font-size: 17px;
    font-family: Nunito;
    font-weight: bolder;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infor ul li {
    display: inline;
    margin-left: 30px;
    /* color: white; */

}

.contact ul li {
    display: inline;
    margin-left: 10px;
    /* color: white; */

    border: 10px;

}

.brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}

.contact ul li:hover {
    background-color: #F7941E;
    border-radius: 10px;
}

.social {
    margin-left: 60px;
}

#top-header {
    background-color: #ED145B;
}

ul.hmenu>li>a:hover {
    color: #F9A11E;
    font-weight: bolder;
}

ul.hmenu>li {
    float: left;
    margin: 0 5px;
    position: relative;
}

ul.hmenu>li:hover>.sub-menu {
    display: block;
    /* background-color: ivory; */
}

ul.sub-menu {
    list-style: none;
    width: 200px;
    position: absolute;
    display: none;
}

.sub-menu>li>a {
    display: block;
    line-height: 20px;
    /* border-bottom: 1px dotted orangered; */
    text-decoration: none;
    /* font-variant: small-caps; */
    /* padding-left: 45px; */
    font-weight: bolder;
    color: black;
    /* background-color: ivory; */
    width: 200px;
}

.sub-menu>li>a:hover {
    color: white;
    font-weight: bolder;
    background-color: #F7941E;
}

.btnQuote {
    background: linear-gradient(90deg, #73BE48 50%, #1BB6AF 50%);
    background-size: 200%;
    background-position: right;
    padding: 12px 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-position 0.5s ease;
    overflow: hidden;
}

.btnQuote:hover {
    background-position: left;
    /* Di chuyển gradient khi hover */
}

.btnQuote i {
    margin-left: 8px;
    /* Khoảng cách giữa chữ và mũi tên */
    transition: transform 0.5s ease;
}




.btnlearnMore {
    background-color: #73BE48;
    width: 150px;
    height: 50px;
    color: white;
    display: flex;
}

.txtschool {
    color: #EE2263;
    font-size: 4.5rem
        /* 72px */
    ;
    line-height: 1;
}